html,
body,
#root,
.app,
.layout {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #888;
  height: 100%;
}

.layout {
  padding: 10px;
  background-color: #aaa;
}

#root{
    height: 100%;
}